html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
}
.header a,
a:hover {
  color: #f0ad4e;
  text-decoration: none;
}

.header h1 {
  letter-spacing: 15px;
  font-size: 300%;
}

.header p {
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #346270;
}
.nav-pills > li > a {
  color: #fff;
}
.nav-pills > li > a:hover {
  background-color: #346270;
}
.navbar-inverse {
  padding: 1%;
  border-radius: 0px;
}

/* Контент */

.films-block {
  text-align: center;
}
.films-block img {
  margin-bottom: 5%;
  border-radius: 5px;
  border: solid 5px #dad7d5;
  width: 100%;
}
.films-label {
  padding: 2%;
  margin-bottom: 4%;
}

/* Sidebar */

.panel {
  border: none;
}
.panel-body {
  background-color: #f9f9f9;
}
.panel-info > .panel-heading {
  background-color: #f0ad4e;
  color: white;
  border-color: transparent;
}
.sidebar-header {
  font-size: 120%;
  letter-spacing: 2px;
}
.form-control {
  border-radius: 0px;
}
.list-group-item-warning {
  color: #8a6d3b;
  background-color: #000;
}
.info-block {
  font-size: 120%;
}
.info-block.badge {
  font-size: 80%;
}
.info-block > span {
  margin-right: 3%;
}
textarea.form-control {
  height: 200px;
}

/* компоненты */

.glyphicon {
  margin-right: 1%;
}
.badge {
  background-color: #000;
}
.clear {
  clear: both;
  height: 63px;
}
.margin-8 {
  margin: 8%;
}
.table tbody > tr > td.vertical-align {
  vertical-align: middle;
}

/* Подвал */

.footer {
  color: #666;
  background-color: #222;
  padding: 17px 0 18px;
  border-top: 1px solid #000;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #efefef;
}

@media (max-width: 767px) {
  .nav-pills > li {
    float: none;
  }

  .nav-pills {
    text-align: center;
  }

  .header h1 {
    font-size: 280%;
    letter-spacing: 5px;
  }

  .header {
    text-align: center;
  }
}
